.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #212529;
  overflow: hidden;
}

.mapContainer {
  height: 100%;
  width: 100%;
}

html, body {
  overflow: hidden;
}

.gm-svpc {
  display: none;
}

span {
  color: #fff000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff555;
}